<div class="tab-content p-0"> </div>

<h1>Users</h1>
          <div class="tab-pane fade active show" id="profile-friends">
          <%# <%= cl_image_tag(current_user.avatar.key) %>
          <%current_user.avatar.attached? %>
            <div class="m-b-10"><b>My game shelf users(<%= @users.count %>)</b></div>
            <% @users.each do |user| %>
              <!-- this line needs to be put in the controller -->
              <div class="tab-pane fade active show" id="profile-friends">
                <ul class="friend-list clearfix">
                  <li>
                    <%= link_to user_path(user) do %>
                      <%if user.avatar.attached?%>

                    <div class="friend-img"> <%= cl_image_tag(user.avatar.key, :width => 40, :radius => "max") %>
                      <% else %>
                        <p>no photo</p>
                      <% end %>
                    </div>
                      <div class="friend-info">
                        <h4><%= user.name %></h4>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
