<div class="col-4">
  <div class="tab-content p-0">
    <h1>Users</h1>
    <div class="tab-pane fade active show" id="profile-friends">
      <h5><b>My game shelf users(<%= @users.count %>)</b></h5>
      <% @users.each do |user| %>
        <!-- this line needs to be put in the controller -->
        <div class="tab-pane fade active show" id="profile-friends">
          <ul class="friend-list clearfix">
            <li>
              <%= link_to user_path(user) do %>
                <div class="friend-img"> <%= image_tag "avatar.png" %></div>
                <div class="friend-info"><h4><%= user.name %></h4>
                  </li>
              <% end %>
              </ul>
              <!-- like button -->
            <%=link_to toggle_favorite_user_path(user), remote: true, method: :post do %>
              <%= render 'users/like_button', user: user %>
            <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-2">
      <h3>Liked users</h3>
      <% @favorite_users.each do |user| %>
        <%= render 'user', user: user %>
      <% end %>
    </div>
