<div class="favorite" data-id="<%= user.id %>">
  <ul class="friend-list clearfix">
    <%= link_to user_path(user) do %>
    <li class="friend-info"><%= user.name %></li>
    <%if user.id.avatar.attached? %>
      <%= cl_image_tag(@user.avatar.key, class: "avatar")%>
    <% else %>
      <%= image_tag "gamepad.png", class: "avatar" %>
    <% end %>
  <% end %>
  </ul>
</div>
