<div class="favorite" data-id="<%= user.id %>">
  <ul class="friend-list clearfix">
    <%= link_to user_path(user) do %>
    <%if @user.avatar.attached? %>
        <%= cl_image_tag(@user.avatar.key, class: "avatar")%>
        <li class="friend-info"><h4><%= user.name %></li>
      <% else %>
        <%= image_tag "gamepad.png", class: "avatar" %>
        <li class="friend-info"><h4><%= user.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
