<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h1><%= @user.name %></h1>
        <h6>
        <div class="title"></div>
        <h1>My reviews</h1>

      <% @user.reviews.each do |review| %>
    <div class="rounded-box-reviews col-lg-12 col-md-4">
      <ul class="list-group list-group-flush">
        <p class ="review-user">
          <%= review.game.title %>
          <% @game = Game.find(review.game.id) %>
          <%= link_to "Visit", game_path(@game), class: 'btn btn-secondary btn-sm w-4px'  %>
          <% review.rating.times do %>
            <%= image_tag('icons/star-full.svg', class: "review-star") %>
          <% end %>
          <% (5 - review.rating).times do %>
            <%= image_tag('icons/star-empty.svg', class: "review-star") %>
          <% end %>
        </p>
        <p class ="reviewTime"> <small><%= time_ago_in_words(review.created_at) %> ago</small></p>
        <p class="reviewContent">"<%= review.content %>"</p>
      </ul>
      </div>
    <% end %>
    </div>
    <div class="col-6">
    <h1>Other users</h1>
      <% @users.each do |user| %>
        <!-- this line needs to be put in the controller -->
        <% @user = User.find(user.id) %>
        <li>
          <ul>  <%= link_to user.name, user_path(@user) %> </ul>
        </li>
      <% end %>
      </div>
  </div>
</div>
