<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h1><%= @user.name %></h1>
        <h6>
        <div class="title"></div>
        <h1>My reviews</h1>

      <% @user.reviews.each do |review| %>
      <ul class="list-group list-group-flush">
      <!-- this line needs to be put in the controller -->
      <% @game = Game.find(review.game.id) %>
      <%= link_to review.game.title, game_path(@game) %>
        <p class="reviewContent list-group-item-secondary"><%= review.content %>"</p>
        <p class ="reviewTime list-group-item-secondary"> <small><%= time_ago_in_words(review.created_at) %> ago</small></p>
        <p class ="reviewTime"> <small><%= review.user.name %> </small></p>
      </ul>
    <% end %>
        </h6>
    </div>
  </div>
</div>
