<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h1><%= @user.name %>'s profile</h1>
        <h6>
        <div class="title"></div>
        <h1>Reviews</h1>

      <% @user.reviews.each do |review| %>
      <!-- this line needs to be put in the controller -->
      <% @game = Game.find(review.game.id) %>
          <div class="rounded-box-reviews col-lg-12 col-md-4">
            <ul class="list-group list-group-flush col-6">
              <p class ="review-user">
                <%= review.game.title %>
                <%= link_to "Visit", game_path(@game), class: 'btn btn-secondary btn-sm w-4px'  %>
                <% review.rating.times do %>
                  <%= image_tag('icons/star-full.svg', class: "review-star") %>
                <% end %>
                <% (5 - review.rating).times do %>
                  <%= image_tag('icons/star-empty.svg', class: "review-star") %>
                <% end %>
              </p>
              <p class ="reviewTime"> <small><%= time_ago_in_words(review.created_at) %> ago</small></p>
              <p class="reviewContent">"<%= review.content %>"</p>
            </ul>
                <%= image_tag @game.image_url, class: "reviewImage" %>
            </div>
          <% end %>
    </div>
            <div class="col-6">
                <div class="tab-content p-0">
                    <div class="tab-pane fade active show" id="profile-friends">
                        <div class="m-b-10"><b>Users (9)</b></div>
                              <% @users.each do |user| %>
                              <!-- this line needs to be put in the controller -->
                              <% @user = User.find(user.id) %>
                        <div class="tab-pane fade active show" id="profile-friends">
                        <ul class="friend-list clearfix">
                            <li>
                                  <%= link_to user_path(user) do %>
                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></div>
                                    <div class="friend-info">
                                        <h4><%= user.name %></h4>
                                    </div>
                            </li>
                            <% end %>
                            <% end %>
                          </div>
                          </div>
                        </div>
  </div>
</div>
