<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <%= cl_image_tag(current_user.avatar.key) %>
      <h1><%= @user.name %>'s profile</h1>
      <h6>
        <div class="title"></div>
        <h1>Reviews</h1>
        <% @user.reviews.each do |review| %>
          <!-- this line needs to be put in the controller -->
          <% @game = Game.find(review.game.id) %>
          <div class="rounded-box-reviews col-lg-12 col-md-4">
            <ul class="list-group list-group-flush col-6">
              <p class ="review-user">
                <%= review.game.title %>
                <%= link_to "Visit", game_path(@game), class: 'btn btn-secondary btn-sm w-4px'  %>
                <% review.rating.times do %>
                  <%= image_tag('icons/star-full.svg', class: "review-star") %>
                <% end %>
                <% (5 - review.rating).times do %>
                  <%= image_tag('icons/star-empty.svg', class: "review-star") %>
                <% end %>
              </p>
              <p class ="reviewTime"> <small><%= time_ago_in_words(review.created_at) %> ago</small></p>
              <p class="reviewContent">"<%= review.content %>"</p>
            </ul>
            <%= image_tag @game.image_url, class: "reviewImage" %>
          </div>
        <% end %>
      </div>
      <div class="col-6">
        <!-- friends list partial-->
        <%= render 'users/friends' %>
      </div>
      <div class="graph col-6">
        <h1>My shelf data</h1>
        <!-- adding data attribute -->
        <canvas id="myChart" width="400" height="400"
        data-page-views="<%=@graph_array %>">
        </canvas>
      </div>
    </div>
  </div>
