<div class="container">

<div class="username-on-profile">
  <h1><%if current_user.avatar.attached? %>
        <%= cl_image_tag(@user.avatar.key, class: "avatar")%>
      <% else %>
        <%= image_tag "gamepad.png", class: "avatar" %>
      <% end %><%= @user.name %>'s profile
  </h1>
</div>

  <div class="row">
    <div class="col-6">
<!-- This shows the user's reviews -->
      <h1>Reviews</h1>
      <% @user.reviews.each do |review| %>
        <div class="rounded-box-reviews">
              <b><%= link_to review.game.title, game_path(review.game), class: 'review-title' %></b>
              <%= image_tag review.game.image_url, class: "review-image" %>
              <div class="review-stars">
                <% review.rating.times do %>
                  <%= image_tag('icons/star-full.svg', class: "review-star") %>
                <% end %>
                <% (5 - review.rating).times do %>
                  <%= image_tag('icons/star-empty.svg', class: "review-star") %>
                <% end %>
                <div class ="review-time"><small><%= time_ago_in_words(review.created_at) %> ago</small></div>
              </div>
            <div class="my-review-content">
              "<%= review.content %>"
            </div>
        </div>
      <% end %>
    </div>

<!-- For visitor on user page - shows graph and Heart Button to follow -->
    <div class="col-6">
      <% if @user != current_user  %>
        <div class="user-list">
          <h1>follow this user</h1>
          <div class="d-flex">
          <h3 class="follow-user"><%= @user.name  %>
            <%= link_to toggle_favorite_user_path(@user), remote: true, method: :post do %>
              <%= render 'users/like_button', user: @user %>
            <% end %>
          </h3>
        </div>

      <!-- graph -->
        <h1>My shelf data</h1>
        <canvas id="myChart" data-page-views="<%=@graph_array %>"></canvas>
        <div class="graph"></div>
      <% end %>

<!-- For the user themself on their page - shows graph and other users they follow -->
      <% if @user == current_user %>
        <h1>Following</h1>
        <div class="followed-people">
          <% @favorite_users.each do |user| %>
            <div class="favorite" data-id="<%= user.id %>">
              <ul class="friend-list clearfix">
                <%= link_to user_path(user) do %>
                  <li class="friend-img avatar"> <%= image_tag "avatar.png" %> </li>
                  <li class="friend-info"><h4><%= user.name %></h4></li>
                  <li class="friend-info">Followers: <%= user.reviews.count %>, Games: <%= user.games.count%></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>

      <div class="latest-shelf-update-container">
        <h1>Latest shelf update</h1>
        <ul class="list-group latest-shelf-update">
          <li>
            <p class="shelf-update-title">
              <% @latest_game.each do |content| %>
              <%= content.title %>
            </p>
          </li>
          <li><%= image_tag content.image_url, class: "review-image" %></li>
              <% end %>
        </ul>
      </div>
      <!-- graph -->
        <h1>My shelf data</h1>
        <div class="graph"><canvas id="myChart" data-page-views="<%=@graph_array %>"></canvas></div>
      <% end %>

  </div>
</div>
