<div class="container">
  <div data-controller="shelf-categories">
    <div class="categories-container">
      <div class="category-btn" data-action="click->shelf-categories#want" data-shelf-categories-target="want">
        Want to play
      </div>
      <div class="category-btn" data-action="click->shelf-categories#playing" data-shelf-categories-target="playing">
        Now Playing
      </div>
      <div class="category-btn" data-action="click->shelf-categories#completed" data-shelf-categories-target="complete">
        Completed
      </div>
    </div>
      <div data-shelf-categories-target="wants" hidden>
        <%# <div class="game-cards"> %>
        <div class="row">
          <% @want_to_play.each do |shelf_game| %>
            <div class="col-md-4 col-sm-6">
              <div class="shelf-card" style="background-image: url('<%= shelf_game.game.image_url %>');">
                <div class="shelf-card-overlay">
                  <div class="trash-container">
                    <%= link_to shelf_game_path(shelf_game), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <%= image_tag('icons/trash.svg') %> x
                    <% end %>
                  </div>
                  <div class="shelf-game-title">
                    <h3>
                      <%= link_to game_path(shelf_game.game) do %>
                        <%= shelf_game.game.title %>
                      <% end %>
                    </h3>
                  </div>
                  <div class="shelf-buttons">
                    <div class="shelf-btn">

                    </div>
                    <div class="shelf-btn">
                    <%= simple_form_for(shelf_game) do |f| %>
                      <%= hidden_field_tag(:category, 'now playing') %>
                    <%= f.submit ">>", class: 'shelf-submit' %>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%# </div> %>
      </div>
        <div data-shelf-categories-target="plays" hidden>
        <%# <div class="game-cards"> %>
        <div class="row">
          <% @now_playing.each do |shelf_game| %>
            <div class="col-md-4 col-sm-6">
              <!--
              <%= link_to game_path(shelf_game.game) do %>
                <div class="game-card">
                  <img src="<%= shelf_game.game.image_url %>" alt="Boxart for <%= shelf_game.game.title %>">
                  <div class="game-title">
                    <h3>
                      <%= shelf_game.game.title %>
                    </h3>
                  </div>
                </div>
              <% end %>
              -->
              <div class="shelf-card" style="background-image: url('<%= shelf_game.game.image_url %>');">
                <div class="shelf-card-overlay">
                  <div class="trash-container">
                    <%= link_to shelf_game_path(shelf_game), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <%= image_tag('icons/trash.svg') %> x
                    <% end %>
                  </div>
                  <div class="shelf-game-title">
                    <h3>
                      <%= link_to game_path(shelf_game.game) do %>
                        <%= shelf_game.game.title %>
                      <% end %>
                    </h3>
                  </div>
                  <div class="shelf-buttons">
                    <div class="shelf-btn">
                      <%= simple_form_for(shelf_game) do |f| %>
                        <%= hidden_field_tag(:category, 'want to play') %>
                      <%= f.submit "<<", class: 'shelf-submit' %>
                      <% end %>
                    </div>
                    <div class="shelf-btn">
                      <%= simple_form_for(shelf_game) do |f| %>
                        <%= hidden_field_tag(:category, 'completed') %>
                      <%= f.submit ">>", class: 'shelf-submit' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%# </div> %>
      </div>
      <div data-shelf-categories-target="completes" hidden>
        <%# <div class="game-cards"> %>
        <div class="row">
          <% @completed.each do |shelf_game| %>
            <div class="col-md-4 col-sm-6">
            <!--
              <%= link_to game_path(shelf_game.game) do %>
                <div class="game-card">
                  <img src="<%= shelf_game.game.image_url %>" alt="Boxart for <%= shelf_game.game.title %>">
                  <div class="game-title">
                    <h3>
                      <%= shelf_game.game.title %>
                    </h3>
                  </div>
                </div>
              <% end %>
              -->
              <div class="shelf-card" style="background-image: url('<%= shelf_game.game.image_url %>');">
                <div class="shelf-card-overlay">
                  <div class="trash-container">
                    <%= link_to shelf_game_path(shelf_game), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <%= image_tag('icons/trash.svg') %> x
                    <% end %>
                  </div>
                  <div class="shelf-game-title">
                    <h3>
                      <%= link_to game_path(shelf_game.game) do %>
                        <%= shelf_game.game.title %>
                      <% end %>
                    </h3>
                  </div>
                  <div class="shelf-buttons">
                    <div class="shelf-btn">
                      <%= simple_form_for(shelf_game) do |f| %>
                        <%= hidden_field_tag(:category, 'now playing') %>
                      <%= f.submit "<<", class: 'shelf-submit' %>
                      <% end %>
                    </div>
                    <div class="shelf-btn">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%# </div> %>
      </div>
  </div>
</div>
