<div class="container">
  <div data-controller="shelf-categories">
    <div class="categories-container">
      <div class="category-btn" data-action="click->shelf-categories#want" data-shelf-categories-target="want">
        Want to play
      </div>
      <div class="category-btn" data-action="click->shelf-categories#playing" data-shelf-categories-target="playing">
        Now Playing
      </div>
      <div class="category-btn" data-action="click->shelf-categories#completed" data-shelf-categories-target="complete">
        Completed
      </div>
    </div>
      <div data-shelf-categories-target="wants" hidden>
        <%# <div class="game-cards"> %>
        <div class="row">
          <% @want_to_play.each do |shelf_game| %>
            <div class="col-md-4 col-sm-6">
              <%= link_to game_path(shelf_game.game) do %>
                <div class="game-card">
                  <img src="<%= shelf_game.game.image_url %>" alt="Boxart for <%= shelf_game.game.title %>">
                  <div class="game-title">
                    <h3>
                      <%= shelf_game.game.title %>
                    </h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <%# </div> %>
      </div>
        <div data-shelf-categories-target="plays" hidden>
        <%# <div class="game-cards"> %>
        <div class="row">
          <% @now_playing.each do |shelf_game| %>
            <div class="col-md-4 col-sm-6">
              <%= link_to game_path(shelf_game.game) do %>
                <div class="game-card">
                  <img src="<%= shelf_game.game.image_url %>" alt="Boxart for <%= shelf_game.game.title %>">
                  <div class="game-title">
                    <h3>
                      <%= shelf_game.game.title %>
                    </h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <%# </div> %>
      </div>
      <div data-shelf-categories-target="completes" hidden>
        <%# <div class="game-cards"> %>
        <div class="row">
          <% @completed.each do |shelf_game| %>
            <div class="col-md-4 col-sm-6">
              <%= link_to game_path(shelf_game.game) do %>
                <div class="game-card">
                  <img src="<%= shelf_game.game.image_url %>" alt="Boxart for <%= shelf_game.game.title %>">
                  <div class="game-title">
                    <h3>
                      <%= shelf_game.game.title %>
                    </h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <%# </div> %>
      </div>
  </div>
</div>
