<%= render 'shelf_games/profile' %>
<div class="container">
  <div class="main-shelf" data-controller="shelf-categories">
    <div class="categories-container">
      <div class="category-btn" data-action="click->shelf-categories#want" data-shelf-categories-target="want">
        Want to play
      </div>
      <div class="category-btn" data-action="click->shelf-categories#playing" data-shelf-categories-target="playing">
        Now Playing
      </div>
      <div class="category-btn" data-action="click->shelf-categories#completed" data-shelf-categories-target="complete">
        Completed
      </div>
    </div>
    <div id="wants" data-shelf-categories-target="wants" hidden>
      <div class="row" data-shelf-categories-target="wantsRow">
        <% if @want_to_play.empty? %>
          <p class="empty-shelf-notification">You haven't added any games to your Want to Play shelf yet. Add them to find them here.</p>
        <% end %>
        <% @want_to_play.each do |shelf_game| %>
          <div class="col-md-4 col-sm-6" data-shelf-categories-target="shelfcard" id='<%= shelf_game.id %>'>
            <div class="shelf-card" style="background-image: url('<%= shelf_game.game.image_url %>');">
              <div class="shelf-card-overlay">
                <div class="trash-container">
                  <%= link_to shelf_game_path(shelf_game), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <%= image_tag('icons/trash.svg', class: 'trash-icon') %>
                  <% end %>
                </div>
                <div class="shelf-game-title">
                  <h3>
                    <%= link_to game_path(shelf_game.game) do %>
                      <%= shelf_game.game.title %>
                    <% end %>
                  </h3>
                </div>
                <div class="shelf-buttons">
                  <div class="shelf-btn">
                    <%# empty for styling %>
                  </div>
                  <div class="shelf-btn">
                    <%= simple_form_for(shelf_game, remote: true, data: { shelf_categories_target: "form", action: 'submit->shelf-categories#updateCategory'}) do |f| %>
                      <%= hidden_field_tag :game_id, shelf_game.game.id %>
                      <%= f.hidden_field :category, value: 'now playing' %>
                      <%= f.submit ">>", class: 'shelf-submit' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="plays" data-shelf-categories-target="plays" hidden>
      <div class="row" data-shelf-categories-target="playsRow">
        <% if @now_playing.empty? %>
          <p class="empty-shelf-notification">You haven't added any games to your Now Playing shelf yet. Add them to find them here.</p>
        <% end %>
        <% @now_playing.each do |shelf_game| %>
          <div class="col-md-4 col-sm-6"   data-shelf-categories-target="shelfcard" id='<%= shelf_game.id %>'>
            <div class="shelf-card" style="background-image: url('<%= shelf_game.game.image_url %>');">
              <div class="shelf-card-overlay">
                <div class="trash-container">
                  <%= link_to shelf_game_path(shelf_game), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <%= image_tag('icons/trash.svg', class: 'trash-icon') %>
                  <% end %>
                </div>
                <div class="shelf-game-title">
                  <h3>
                    <%= link_to game_path(shelf_game.game) do %>
                      <%= shelf_game.game.title %>
                    <% end %>
                  </h3>
                </div>
                <div class="shelf-buttons">
                  <div class="shelf-btn">
                    <%= simple_form_for(shelf_game, remote: true, data: { shelf_categories_target: "form", action: 'submit->shelf-categories#updateCategory' }) do |f| %>
                      <%= hidden_field_tag :game_id, shelf_game.game.id %>
                      <%= f.hidden_field :category, value: 'want to play' %>
                      <%= f.submit "<<", class: 'shelf-submit' %>
                    <% end %>
                  </div>
                  <div class="shelf-btn">
                    <%= simple_form_for(shelf_game, remote: true, data: { shelf_categories_target: "form", action: 'submit->shelf-categories#updateCategory' }) do |f| %>
                      <%= hidden_field_tag :game_id, shelf_game.game.id %>
                      <%= f.hidden_field :category, value: 'completed' %>
                      <%= f.submit ">>", class: 'shelf-submit' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="completes" data-shelf-categories-target="completes" hidden>
      <div class="row" data-shelf-categories-target="completesRow">
        <% if @completed.empty? %>
          <p class="empty-shelf-notification">You haven't added any games to your Completed shelf yet. Add them to find them here.</p>
        <% end %>
        <% @completed.each do |shelf_game| %>
          <div class="col-md-4 col-sm-6"   data-shelf-categories-target="shelfcard" id='<%= shelf_game.id %>'>
            <div class="shelf-card" style="background-image: url('<%= shelf_game.game.image_url %>');">
              <div class="shelf-card-overlay">
                <div class="trash-container">
                  <%= link_to shelf_game_path(shelf_game), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <%= image_tag('icons/trash.svg', class: 'trash-icon') %>
                  <% end %>
                </div>
                <div class="shelf-game-title">
                  <h3>
                    <%= link_to game_path(shelf_game.game) do %>
                      <%= shelf_game.game.title %>
                    <% end %>
                  </h3>
                </div>
                <div class="shelf-buttons">
                  <div class="shelf-btn">
                    <%= simple_form_for(shelf_game, remote: true,  data: { shelf_categories_target: "form", action: 'submit->shelf-categories#updateCategory' }) do |f| %>
                      <%= hidden_field_tag :game_id, shelf_game.game.id %>
                      <%= f.hidden_field :category, value: 'now playing' %>
                      <%= f.submit "<<", class: 'shelf-submit' %>
                    <% end %>
                  </div>
                  <div class="shelf-btn">
                    <%# empty for styling %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
