<div class="categories">
  <div class="categories-links">
<%= form_tag games_path, method: :get, class: "form-inline" do %>
          <input type="hidden"  name='query' value='puzzle'/>
          <%= submit_tag "Puzzle", class: "btn btn-ghost" %>
        <%end%>
        <%= form_tag games_path, method: :get, class: "form-inline" do %>
          <input type="hidden"  name='query' value='action'/>
          <%= submit_tag "action", class: "btn btn-ghost" %>
        <%end%>
<%= form_tag games_path, method: :get, class: "form-inline" do %>
          <input type="hidden"  name='query' value='adventure'/>
          <%= submit_tag "adventure", class: "btn btn-ghost" %>
        <%end%>
<%= form_tag games_path, method: :get, class: "form-inline" do %>
          <input type="hidden"  name='query' value='RPG'/>
          <%= submit_tag "RPG", class: "btn btn-ghost" %>
        <%end%>
<%= form_tag games_path, method: :get, class: "form-inline" do %>
          <input type="hidden"  name='query' value='Indie'/>
          <%= submit_tag "Indie", class: "btn btn-ghost" %>
        <%end%>
        <%= form_tag games_path, method: :get, class: "form-inline" do %>
          <input type="hidden"  name='query' value='platform'/>
          <%= submit_tag "platform", class: "btn btn-ghost" %>
        <%end%>
                <%= form_tag games_path, method: :get, class: "form-inline" do %>
          <input type="hidden"  name='query' value='adventure'/>
          <%= submit_tag "adventure", class: "btn btn-ghost" %>
        <%end%>
                      <%= form_tag games_path, method: :get, class: "form-inline" do %>
          <input type="hidden"  name='query' value='casual'/>
          <%= submit_tag "casual", class: "btn btn-ghost" %>
        <%end%>
                    <%= form_tag games_path, method: :get, class: "form-inline" do %>
          <input type="hidden"  name='query' value='shooter'/>
          <%= submit_tag "shooter", class: "btn btn-ghost" %>
        <%end%>
  </div>
</div>
