<div class="container">
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-md-4 col-sm-6">
        <%= link_to game_path(game) do %>
          <div class="game-card">
            <img src="<%= game.image_url %>" alt="Boxart for <%= game.title %>">
            <div class="game-title">
              <h3>
                <%= game.title %>
              </h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="container mt-5 d-flex justify-content-center">
    <% @users.each do |user| %>
      <div class="card p-3">
        <div class="d-flex align-items-center">
            <% if user.avatar.attached? %>
          <div class="image">
              <%= cl_image_tag(user.avatar.key, class: "rounded m-2", width: "120px")%>
            </div>
            <% end %>
            <div class="ml-3 w-100">
              <h4 class="mb-0 mt-0"><%= user.name %></h4>
              <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                <div class="d-flex flex-column">
                  <span class="articles">Reviews</span>
                  <span class="number1"><%= user.reviews.count %></span>
                </div>
                <div class="d-flex flex-column">
                  <span class="followers">Followers</span>
                  <span class="number2"><%= user.favorites.count %></span>
                </div>
                <div class="d-flex flex-column">
                  <span class="rating">Games</span>
                  <span class="number3"><%= user.games.count %></span>
                </div>
              </div>
              <div class="button mt-2 d-flex flex-row align-items-center">
                <button class="btn btn-sm btn-light w-100 ml-2">Follow</button>
                <%=link_to toggle_favorite_user_path(user), remote: true, method: :post do %>
                  <%= render 'users/like_button', user: user %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
