<div class="container">
    <div class="row">
      <% @games.each do |game| %>
        <div class="col-md-4 col-sm-6">
          <%= link_to game_path(game) do %>
            <div class="game-card">
              <img src="<%= game.image_url %>" alt="Boxart for <%= game.title %>">
              <div class="game-title">
                <h3>
                  <%= game.title %>
                </h3>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% @users.each do |user| %>
    <%= user.name %>
    <% end %>
</div>
