<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <%= image_tag @game.image_url, width: "100%", class: "border shadow mb-5" %>
      <h3>Reviews for <%= @game.title %></h3>
    <div class="col-12">
      <div class="card p-4">
        <h1><%= @game.title %></h1>
        <p class="fst-italic"><%= @game.genre %></p>
        <p class="fst-italic"><%= @game.developer %></p>
        <p class="fst-italic"><%= @game.console %></p>
      </div>
      <div class="reviews">
        <!--partial for the review form -->
          <%= render 'reviews/form', game: @game, review: @review %>
        <!--partial for the list of reviews -->
        <%= render @game.reviews.order(created_at: :desc) %>
      </div>
    </div>
    <div></div>
    <!--This card should be on the side of the picture -->
    </div>
  </div>
</div>
