<div class="container">
  <div class="game-row">
    <div class="rounded-box col-lg-8 col-md-4">
      <%= image_tag @game.image_url, class: "show-game-image" %>
    </div>
    <div class="col-4">
      <div class="card p-4 m-4">
        <h1> User rating</h1>
        <h1><%= '⭐️' * @rating %>/5</h1>
        <% if user_signed_in? %>
          <!--adding games to users' shelves-->
          <%= simple_form_for(@shelf_game) do |f| %>
            <%= hidden_field_tag(:game, @game.id) %>
            <%= f.input :category, collection: ['want to play', 'now playing', 'completed'], default: 'want to play' %>
            <%= f.submit 'Assign', class: "btn btn-default btn-secondary" %>
          <% end %>
          <!--Checking status of game (make into a partial) -->
          <!--persisted checks if it is saved -->
          <% if @shelf_game.persisted? %>
            This game is on your shelf under <%= @shelf_game.category %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card p-4">
        <h1><%= @game.title %></h1>
        <% game_title = @game.title %>
        <p> <%= @game.genre.split(",").join(", ") %></p>
        <% game_genre = @game.genre %>
        <p> <%= @game.developer.split(",").join(", ") %></p>
        <p> <%= @game.console.split(",").join(", ") %></p>
        <%= @game.description %>
      </div>
    </div>
    <div class="reviews">
      <div class="reviews card p-4">
        <% if user_signed_in? %>
          <h3>Reviews for <%= @game.title %></h3>
          <!--partial for the review form -->
          <%= render 'reviews/form', game: @game, review: @review %>
        <% else %>
        <% end %>
        <h1></h1>
        <!--partial for the shelf of reviews -->
        <%= render 'reviews/review' %>
      </div>
    </div>
    <div class="col-12">
      <h3>You may also like</h3>
      <div class="recommended-game-cards">
        <!-- Recommends (max) 3 games by genre not including current game -->
        <% @three_games.each do |game| %>
            <%= link_to game_path(game) do %>
          <div class="game-card">
            <img src="<%= game.image_url %>" alt="Boxart for <%= game.title %>">
            <h3>
              <%= game.title %>
            </h3>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
